* {
  margin: 0;
  padding: 0;
}

header {
  height:60px;
  width:100%;
  background-color: #000;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
}

nav {
  margin-right: 5%;
}


.form-bottom {
  font-size: 30px;
  font-weight: normal;
  color: white;
  display: inline-block;
  width:280px;
  height:50px;
  text-align: center;
  background-color: gray;
  box-shadow:0px 10px #333333;
  cursor: pointer;
  border-radius: 3px;
  opacity:0.9;
}

.form-bottom:hover{
  opacity: 1;
}

.form-bottom:active{
  box-shadow: none;
  position: relative;
  top: 10px;
}

.form {
  align:center;
}

.message-contents {
  width:100%;
  text-align: center;
  margin: 0 auto;
  height:100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
}

.message-contents2{
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

.message-title{
  font-size:60px;
  font-weight: bold;
}

.message-time {
  font-size:40px;
}

.message-description{
  font-size: 25px;
}

@media(max-width:800px) {
  .form-bottom{
    font-size: initial;
    width: initial;
    height: initial;
    font-size: 10px;
    width: 100px;
    height: 25px;
  }
  #first-block {
    height:900px;
    width:100%;
    background-image: url(http://img.kb-cdn.com/imgviewer/NVpIM2ptOHhYRzVmUk5rM1NrNlFxYVV6enV4aGk2UFRJMmxPckdDUUVNYUJsVGE4MThYNkFzUEZiaTBlbkhiRHdtT003blFEM1lkQWZIL3NoUldVbjNhV3J0ZWZrKzJFM3drby9rSytONUJnak1KcitqQTFVZ0FGL012YUEzemI5THo2aE9ISy9qR3JIZDZiTFhlT2J6U1h2WlRhbDl4ckFRSlplU1plb1NqN0VtOC9BZm1kcyt4d0Rla3NRSDZkSTA4bEZUWm9CWWl2NE1DNjhUQTBMQT09);
    background-size: initial;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items:center;
    background-attachment: normal;
  }
}

#first-block {
  height:900px;
  width:100%;
  background-image: url(http://img.kb-cdn.com/imgviewer/NVpIM2ptOHhYRzVmUk5rM1NrNlFxYVV6enV4aGk2UFRJMmxPckdDUUVNYUJsVGE4MThYNkFzUEZiaTBlbkhiRHdtT003blFEM1lkQWZIL3NoUldVbjNhV3J0ZWZrKzJFM3drby9rSytONUJnak1KcitqQTFVZ0FGL012YUEzemI5THo2aE9ISy9qR3JIZDZiTFhlT2J6U1h2WlRhbDl4ckFRSlplU1plb1NqN0VtOC9BZm1kcyt4d0Rla3NRSDZkSTA4bEZUWm9CWWl2NE1DNjhUQTBMQT09);
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items:center;

  background-attachment: fixed;
  background-position: top;
  z-index: 4;
}

@media(max-width:500px) {
  .message-contents2{
    width: 80%;
  }
  .message-contents{
    margin: 0 auto;
  }
  .message-title{
    font-size: 25px
  }
  .message-time{
    font-size: 18px;
  }
  .message-description{
    font-size: 14px;
  }
  #first-block{
    height: 650px;
  }

  .message-contents {
    font-size:8px;
  }
  .form-bottom{
    font-size:17px;
    width:160px;
    height:28px;
  }
  .form-bottom{
    box-shadow:0px 5px #333333;
  }
  .form-bottom:active{
    top: 5px;
  }

}

/*   Second block   */
#second-block {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
.info-title {
  font-size: 60px;
  font-family: serif;
  margin-bottom: 50px;
  color: #444;
  border-bottom:5px solid #4d4d4d;
  padding-bottom: 20px;
}

#second-block img{
  width: 50%;
  border-radius: 40px;
}

.event-contents{
  font-size: 25px;
  margin-bottom: 30px;
  width: 85%:
}

.event-contents li {
  margin-top: 10px;
}

@media(max-width:800px){
  #second-block p{
    font-size: 30px;
  }

}

@media(max-width:500px){
  .event-contents li {
    margin-top: 4px;
  }
  .event-contents{
    font-size: 16px;
  }
  #second-block img{
    width:80%;
  }
  #second-block {
    font-size: 14px;
  }
  #second-block p{
    font-size: 30px;
  }
  .info-title{
    margin-bottom: 15px
  }
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}


.info-text {
  font-size: 20px;
  margin-bottom: 20px;
  color: #444;

  width: 30%;
}

.font-small {
  font-size: 15px;
}
/*   Second block End   */
/*   Third block End   */
#third-block {
  background-color: gray;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.member-title {
  font-size: 60px;
  font-family: serif;
  color: #444;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 5px solid #4d4d4d;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 100%;
  border-bottom:2px solid #4d4d4d;
  padding-bottom: 40px;
}

.member-name {
  font-size: 20px;
  width: 50%;
}

.shukatu{
  font-weight: bold;
}

.name {
  font-size: 40px;
  font-family: serif;
}

.univr{
  font-weight: lighter;
}

.prof-image-left {
  width: 20%;
  height: 20%;
  padding-left: 150px;
  margin-top: 60px;
}

.prof-image-right {
  width: 20%;
  height: 20%;
  padding-left: 150px;
  margin-top: 60px;
}

@media(max-width:800px){
  .prof-image-left {
    width: 40%;
    height: 40%;
    padding-left: initial;
  }
  .prof-image-right {
    width: 40%;
    height: 40%;
    padding-left: initial;
  }
  .member-name{
    display: block;
    margin: 0 auto;
    width:initial;
    width:90%;
  }
  .member{
    display: initial;
    flex-direction: initial;
    justify-content: initial;
    padding-top: initial;
    margin-bottom: initial
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .member-title {
    font-size: 30px;
    padding-bottom: initial;
    margin-bottom: initial;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 5px solid #4d4d4d;
  }
}

@media(max-width:500px) {
  .prof-image-left {
    width: 50%;
    height: 50%;
    padding-left: initial;
    margin-top: 0px;
  }
  .prof-image-right {
    width: 50%;
    height: 50%;
    padding-right: initial;
    margin-top: 0px;
  }
  .member-name{
    display: block;
    margin: 0 auto;
    width:initial;
    width:90%;
    font-size: initial;
    font-size: 14px;
  }
  .member{
    display: initial;
    flex-direction: initial;
    justify-content: initial;
    padding-top: 10px;
    margin-top: 10px
    margin-bottom:20px;
  }
  .name {
    font-size: initial;
    font-size: 18px;
  }

  .member-title{
    font-size: 30px;
  }
}

/*   Third block End   */


.header-nav a {
  color: #fff;
  text-decoration: none;
}

.header-nav a:hover {
  color: #f00;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  height: 50px;
  background-color: #000;
  font-size: 15px;
  color: #fff
}

@media(max-width:350px) {
  footer{
    height: 70px;
  }
  .My-Name {
    align-items: center;
  }
}

.second-form{
  background-color:#00004d;
  margin-top: 30px;
}
